body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(imgs/fundo.jpeg);
}

header{
    width: 100%;
    height: 5vw;
    background-color: rgb(181, 8, 5);
    padding: 2vw 2vw;

}


header h1 img{
    width: 80px;
    top: 50%;
}

.cabecalho{
    display: flex;
    align-items: center;
}

.nomeSite{
    margin-left: 30px;
    font-size: 35px;
    font-weight: bold;
    color: #ededed;
}

.navegacao{
    width: 100%;
    background-color: #fbfbfb;
    padding: 15px 0 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.135);
    box-shadow: 5px 5px 10px #d5d5d5;
   
}

.topo{
    z-index: 2;
    width: 100%;
    position: fixed;
}

.botaoSobre, .botaoSobrePrinc {
    background-color: rgba(216, 154, 153, 0.637);
    border: none;
    color: white;
    border-radius: 27px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    right: 5%;
  
  }

  .botaoSobre:hover{
    background-color: rgba(255, 4, 0, 0.938);
    transform: scale(1.1);
    transition: 0.2s;
  }

  .botaoBusca:hover{
    background-color: rgba(179, 3, 0, 0.938);
    transform: scale(1.1);
    transition: 0.2s;
  }
  



.navegacao ul li{
    display: inline;
    margin-left: 35px;
    font-size: 15px;
}


.navegacao a{
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.navegacao a:hover{
    border-bottom: 3px solid rgb(255, 34, 34);
    transition: 2s;
}

.buscaPlaceholder{
    background-color: rgba(255, 34, 34, 0.034);
    padding: 5px;
    border-color: rgb(255, 34, 34);
    border-radius: 5px;
    text-align: center;
    align-self: center;
    margin-left: 70%;
}

.botaoBusca{
  border-color:rgb(255, 34, 34);
  padding: 10px;
  color: rgb(241, 241, 241);
  background-color: #940000;
  border-radius: 5px;

}



.Marvel_Principal a{
    color: rgb(255, 34, 34);
     transition: 2s;
     border-bottom: 3px solid rgb(255, 34, 34);
     transition: 2s;
 }

 .DC_DC a{
    color: rgb(255, 34, 34);
     border-bottom: 3px solid rgb(255, 34, 34);
     transition: 2s;
 }

 .botaoSobrePrinc, .botaoContatoPrinc{
    background-color: rgba(255, 4, 0, 0.938);
 }



 main{
    margin: 0 50px;
    background-color: rgba(233, 233, 233, 0.950);
    padding: 150px 200px;
    height: 100%;
 }

 .mainSobre{
    margin: 0 50px;
    background-color: rgba(233, 233, 233, 0.950);
    padding: 150px 200px;
    height: 100%;
    
 }

 .ContainerHeroi, .ContainerSobre{
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.231);
    width: 50%;
    margin: 0px 20px;
 }


 .colunaMarvel, .colunaDC{
    margin-top: 10%;
 }

 .colunaSobre{
    justify-content: center;
    margin-top: 20%;
    text-align: center;
    
 }

 .colunaMarvel, .colunaDC, .colunaSobre{
    display: flex;
    margin-bottom: 10%;
 }
 

 .capa{
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
 }

 .ContainerHeroi:hover{
   z-index: 1;
   transform: scale(1.001);
   border: 1px solid #ff0000;
   transition: 0.4s;
  
 }

 .tituloHeroi, .nomeFecaf{
    margin: 15px auto 15px 10px;
 }

 .Descricao, .sobre{
    margin: 15px auto 30px 10px;
 }

footer{
    color:#ededed;
    width: 100%;
    background-color: rgb(181, 8, 5);
    padding: 2vw 0vw;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 2;
}

footer img{
    width: 8%;
    margin-top: 1%;
}

